.container{
    margin-bottom: 100px;
}
.caro{
    background: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.prize{
    color: #ff136f;
}
.butn{
    background-image: linear-gradient(to bottom,#fc5393,#ff136f);
    border: none;
    border-radius: 8px;
    color: #ffffff;
    padding: 5px 9px;
}
.cat h1{
    color: #ffffff;
}
.cat img{
    width: 100px;
}
.cat1,.cat2,.cat3{
    padding: 10px 40px;
    border-radius: 10px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: rgb(235, 23, 164);
}
.cat3{
    background-color: rgb(18, 74, 228);
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.bags .card-footer{
    border-top: 0;
}
.subscribe{
    background: rgb(180, 184, 189);
    padding: 20px 0 ;
    border-radius: 8px;
}
footer{
    text-align: center;
    margin-top: 0;
    padding-bottom: 20px;
}